<!-- Header -->
<!-- Header fragment -->
<div th:insert="~{fragments/header :: header}"></div>
<!-- Navbar fragment -->
<div th:insert="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <div class="container">
        <div class="container mx-auto col-md-6" id="goods-receipt-note-form">
            <div id="header">
                <h1 class="mt-3">New Good Receipt Note</h1>
            </div>

            <div id="goodsReceiptNoteForm">
                <!-- GOODS RECEIPT NOTE  FORM -->
                <form action="#" th:action="@{/goods-receipt-note/new-good-receipt-note}" th:object="${goodsReceiptNote}"
                    method="post" class="row g-3 needs-validation" novalidate>
                    <!-- PO INPUTS FIELDS-->
                    <div class="col-md-6">
                        <label for="purchaseOrder" class="form-label">Purchase Order</label>
                        <select class="form-select" th:field="*{purchaseOrder.id}" aria-label="Default select example"
                            th:errorclass="fieldError" id="purchaseOrder" required name="purchaseOrder">
                            <option value="" selected disable hidden>Choose...</option>
                            <option th:each="purchaseOrder: ${purchaseOrders}" th:text="|${purchaseOrder.id}|"
                                th:value="${purchaseOrder.id}">Two
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            Please select the customer
                        </div>
                    </div>
                    <!-- DATE INPUTS FIELDS (DISABLED SINCE THE DATE WILL BE AUTOMATICALLY ASSIGNED AS)-->
                    <div class="col-md-6">
                        <label for="date" class="form-label">Date</label>
                        <input class="form-control" type="text" id="date" th:field="*{date}" disabled readonly name="date">
                    </div>

                    <!-- GOODS RECEIPT NOTE LINES -->
                    <!-- <div th:each="saleOrderLine: ${newSalesOrderDto.saleOrderLines}"> -->
                    <div th:each="goodsReceiptNoteLine, grnStat: *{goodsReceiptNoteLines}">
                        <div class="input-group mb-3">
                            <input type="number" min="1" step="1" th:field="*{goodsReceiptNoteLines[__${grnStat.index}__].qty}"
                                class="form-control" id="qty" value="1">
                            <select class="form-select" th:field="*{goodsReceiptNoteLines[__${grnStat.index}__].item.id}"
                                aria-label="Default select example" id="item" required>
                                <option value="" selected disable hidden>Choose...</option>
                                <option th:each="item: ${items}"
                                    th:text="|${item.sku} - ${item.description}|" th:value="${item.id}">Two
                                </option>
                            </select>
                                <button type="submit" name="removeRow" th:value="${grnStat.index}" class="btn btn-danger">Remove</button>
                        </div>
                    </div>
                    <!-- ADD GOODS RECEIPT NOTE LINE BUTTON -->
                    <div class="col-12">
                        <button type="submit" name="addRow" value="yes" class="btn btn-primary">Add Order Line</button>
                    </div>
                    <!-- </div> -->
                    <!-- SUBMIT BUTTON -->
                    <div class="col-12">
                        <div class="d-grid mx-auto">
                            <button type="submit" name="save" th:value="|yes|" class="btn btn-dark col-12">Finish Goods Receipt
                                Note</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    //JAVASCRIPT SNIPPET TO PROVIDES DATA VALIDATION ON FRONT END WHEN FORM IS SUBMITTED
    //IT WILL SUPPLY A MESSAGE BELOW THE BLANK INPUT FIELD
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        // it checks every input field that its class attribute contains "needs-validation"

        //TODO: MOVE JS TO SEPARTE FILE
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>


<!-- Footer fragment -->
<div th:insert="~{fragments/footer :: footer}"></div>


