<!-- Header -->
<!-- Header fragment -->
<div th:insert="~{fragments/header :: header}"></div>
<!-- Navbar fragment -->
<div th:insert="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <div class="container">
        <div class="container mx-auto col-md-6" id="new-customer-form">
            <div id="header">
                <h1 class="mt-3">New Item</h1>
            </div>

            <div id="newCustomerForm">
                <!-- SALE ORDER FORM -->
                <form action="#" th:action="@{/items/new-item}" th:object="${item}"
                    method="post" class="row g-3 needs-validation" novalidate>
                    <!-- FROM/TO INPUTS FIELDS-->
                    <div class="col-md-4">
                        <label for="state" class="form-label">Vendor</label>
                        <!-- Drop down list of vendor IDs -->
                        <select class="form-select" th:field="*{vendors}" aria-label="Default select example"
                            th:errorclass="fieldError" id="state" required name="state">
                            <option value="" selected disable hidden>Choose...</option>
                            <option th:each="vendor : ${vendors}" th:text="|${vendor.id} - ${vendor.name}|"
                                th:value="${vendor.id}">03 - Microsoft
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="sku" class="form-label">Sku</label>
                        <input class="form-control" type="text" id="sku">
                    </div>
                    <div class="col-md-12">
                        <label for="description" class="form-label">Description</label>
                        <input class="form-control" type="text" id="description">
                    </div>
                    <!-- TODO: -> ADD a form to add new prices and costs -->
                    <div class="col-12">
                        <div class="d-grid mx-auto">
                            <button type="submit" class="btn btn-dark col-12">Add Item</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    //JAVASCRIPT SNIPPET TO PROVIDES DATA VALIDATION ON FRONT END WHEN FORM IS SUBMITTED
    //IT WILL SUPPLY A MESSAGE BELOW THE BLANK INPUT FIELD
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        // it checks every input field that its class attribute contains "needs-validation"

        //TODO: MOVE JS TO SEPARTE FILE
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>


<!-- Footer fragment -->
<div th:insert="~{fragments/footer :: footer}"></div>


