<!-- Header -->
<!-- Header fragment -->
<div th:insert="~{fragments/header :: header}"></div>
<!-- Navbar fragment -->
<div th:insert="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <!-- ALERTS TO PROVIDE USER FEEDBACK ON UNSUCCESSFUL SO DELETION -->
    <div th:if="${param.failedToDelete}">
        <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
            Cannot delete a shipped sales order!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <!-- ALERTS TO PROVIDE USER FEEDBACK ON NOT FOUND SO -->
    <div th:if="${param.notFound}">
        <div class="alert alert-info alert-dismissible fade show mt-3" role="alert">
            Sales Order not found
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <!-- ALERTS TO PROVIDE USER FEEDBACK ON SUCCESSFUL ADDED SO -->
    <div th:if="${param.added}">
        <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
            Sales Order added to the database
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <!-- ALERTS TO PROVIDE USER FEEDBACK ON SUCCESSFUL UPDATE SO -->
    <div th:if="${param.updated}">
        <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
            Sales Order has been updated
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <!-- ALERTS TO PROVIDE USER FEEDBACK ON SUCCESSFUL SO DELETION -->
    <div th:if="${param.salesOrderDeleted}">
        <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
            Sales Order Deleted
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <!-- ALERTS TO PROVIDE USER FEEDBACK ON FAILED UPDATE -->
    <div th:if="${param.cannotBeUpdated}">
        <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
            Shipped Order Cannot be Updated
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <!-- Page headers -->
    <h1 class="my-3" th:text="|Sales Orders|">Customer List</h1>
    <!-- Customer list as table -->
    <table class="table">
        <thead>
            <tr>
                <th th:replace="~{fragments/pagination :: sortHeader(label='Date', property='date', page=${page}, baseUrl='/sales-orders')}"></th>
                <th th:replace="~{fragments/pagination :: sortHeader(label='Sales Order', property='id', page=${page}, baseUrl='/sales-orders')}"></th>
                <th scope="col">Total</th>
                <th th:replace="~{fragments/pagination :: sortHeader(label='Status', property='status', page=${page}, baseUrl='/sales-orders')}"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="salesOrder : ${page.content}">
                <th scope="row" th:text="|${#temporals.monthNameShort(salesOrder.date)} ${#temporals.format(salesOrder.date, ' dd, yyyy')}|">1</th>
                <td th:text="${salesOrder.id}">1001</td>
                <td th:text="${#numbers.formatCurrency(salesOrder.total)}">$0</td>
                <td th:text="${salesOrder.status.name()}">PENDING</td>
                <td><a th:href="@{/sales-orders/{orderId}(orderId=${salesOrder.id})}" class="btn btn-outline-secondary">Details</a></td>
                <td>
                    <a th:if="${salesOrder.status.name() == 'PENDING'}"
                       th:href="@{|/sales-orders/${salesOrder.id}/update|}" class="btn btn-outline-success">Edit</a>
                    <form th:if="${salesOrder.status.name() != 'SHIPPED'}"
                          th:action="@{/sales-orders/{orderId}(orderId=${salesOrder.id})}" method="post" class="d-inline">
                        <button type="submit" class="btn btn-dark" name="delete">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <div th:replace="~{fragments/pagination :: pagination(page=${page}, baseUrl='/sales-orders')}"></div>
</div>

<!-- Header fragment -->
<div th:insert="~{fragments/footer :: footer}"></div>