<!-- Header -->
<!-- Header fragment -->
<div th:insert="~{fragments/header :: header}"></div>
<!-- Navbar fragment -->
<div th:insert="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <!-- Page headers -->
    <h1 class="my-3 text-center" th:text="|Goods Receipt Notes|">Customer List</h1>
    <!-- Customer list as table -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Goods Receipt Note</th>
                <th scope="col">Qty Received</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="goodsReceiptNote : ${goodsReceiptNotes}">
                <th scope="row" th:text="|${#temporals.monthNameShort(goodsReceiptNote.date)} ${#temporals.format(goodsReceiptNote.date, ' dd, yyyy')}|">1</th>
                <td th:text="${goodsReceiptNote.id}">Mark</td>
                <td th:text="${goodsReceiptNote.getTotalQty()}">Otto</td>
                <td><a th:href="@{/goods-receipt-note/{goodReceiptNoteId}(goodReceiptNoteId=${goodsReceiptNote.id})}" class="btn btn-outline-secondary">Details</a></td>
                <!-- <td>
                    <form th:action="@{/goods-receipt-note/{goodReceiptNoteId}(goodReceiptNoteId=${goodsReceiptNote.id})}" method="post">
                        <button type="submit" class="btn btn-danger" name="delete">Delete</button>
                    </form>
                </td> -->
                <!-- TODO: Adds button to delete sales order (first: implement sales order CRUD controll) -->
            </tr>
        </tbody>
    </table>
</div>

<!-- Header fragment -->
<div th:insert="~{fragments/footer :: footer}"></div>